.body {
    /* background-color: #191f2d; */
    background-image: linear-gradient(
        0deg,
        rgb(0, 10, 148) 23.8%,
        rgb(66, 63, 187) 92%
      );
    color: white;
    display: flex;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.main {
    margin: 0;
    padding: 0;
}

.main__title {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
    padding: 0;
    text-decoration: underline;
}

.main__subtitle {
    display: flex;
    justify-content: center;
    margin: 0 0 100px 0;
}

.main__link {
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

.main__link:hover {
    color: #3498db;
}

.project-list {
    margin: 0 0 100px 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

.project-list__link {
    text-decoration: none;
    color: white
}

.project-list__link:hover {
    color: #3498db;
}

.project__info {
    display: flex;
    margin: 100px;
    /* Maybe add a max-width? */
}

.footer {
    display: flex;
    /* Maybe add a max-width? */
}

.footer__author {
    margin: 0 0 20px 100px;
}