.body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.btn:active, 
.page__form-button:active {
  transform: scale(0.95);
}

.page__form-input:focus,
.page__form-button:focus {
  outline: none;
}

.header {
  background-image: url('https://images.unsplash.com/photo-1510915361894-db8b60106cb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  position: relative;
  z-index: 1;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.page__title {
  margin: 0;
  font-size: 40px;
}

.nav__link { 
  display: flex;
  justify-content: center;
  margin: 10px 0 40px;
  color: #fff;
  text-decoration: none;
  z-index: 1;
}

.nav__link:hover {
  color: #43b4ff;
  z-index: 1;
}

.page__form {
  position: relative;
  width: 500px;
  max-width: 100%;
}

.page__form-input {
  border: 0;
  border-radius: 50px;
  font-size: 16px;
  padding: 15px 30px;
  width: 100%;
  box-sizing: border-box;
}

.page__form-button {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #e056fd;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  padding: 13px 30px;
  cursor: pointer;
}

.btn {
  background-color: #8d56fd;
  border: 0;
  border-radius: 10px;
  color: #fff;
  padding: 4px 10px;
  cursor: pointer;
  white-space: nowrap;
}

.songs-list {
  list-style-type: none;
  padding: 0;
}

.song {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.container {
  margin: 30px auto;
  max-width: 100%;
  width: 500px;
}

.container__song-information {
  font-weight: 300;
}

.container__info {
  text-align: center;
}

.centered {
  display: flex;
  justify-content: center;
}

.nav-btn {
  transform: scale(1.3);
  margin: 15px;
}

.footer__information {
  color: #000;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.footer__hyperlink {
  text-decoration: none;
  color: #000;
  margin-left: 5px;
}

.footer__hyperlink:hover {
  cursor: pointer;
  color: #3498db;
}

@media (min-width: 1240px) {
  .container__info {
    margin-bottom: 300px;
  }
}

@media (min-width: 900px) {
  .container__info {
    margin-bottom: 200px;
  }
}

@media (min-width: 760px) {
  .container__info {
    margin-bottom: 150px;
  }
}

@media (min-width: 320px) {
  .container__info {
    margin-bottom: 100px;
  }
}