.body {
  /* background-color: #0095dd; */
  background-image: linear-gradient(
    180deg,
    rgba(0, 149, 221, 1) 23.8%,
    rgba(0, 82, 123, 1) 92%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

.page__title {
  font-size: 48px;
  color: #fff;
  margin: 0;
}

.nav {
  margin: 10px 0 50px;
}

.nav__title {
 color: #fff;
 text-decoration: none;
}

.nav__title:hover {
  color: #000;
}

.canvas {
  background: #f0f0f0;
  display: block;
  border-radius: 10px;
  padding: 10px;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 5px;
}

.close-button {
  width: 100%;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #222;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.leaderboard-btn {
  position: absolute;
  top: 30px;
  right: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: #fff;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
  box-sizing: border-box;
}

.rules.show {
  transform: translateX(0);
}

.leaderboard {
  position: absolute;
  top: 0;
  right: 0;
  background: #333;
  color: #fff;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(400px);
  transition: transform 1s ease-in-out;
  box-sizing: border-box;
  display: none;
  z-index: 2;
}

.leaderboard.show {
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard__title {
  text-align: center;

}

.leaderboard__list {
  margin: 0 0 50px;
  padding: 0;
  width: 250px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.leaderboard__item {
  margin: 0;
  padding: 0;
  /* list-style-type: none; */
  display: flex;
  justify-content: space-between;
}

.end-game-container {
  background-color: #00527b;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  /* top: 100;
  left: 100; */
  /* width: 100%;
  height: 100%; */
  width: 600px;
  height: 300px;
  z-index: 1;
  border-radius: 10px;
}

.end-game-container__title {
  margin: 0 0 10px;
  font-size: 40px;
  color: #fff;
}

.end-game-container__subtitle {
  margin: 0 0 20px;
  font-size: 16px;
  color: #fff;
}

.end-game-container__final-score {
  margin: 10px 0 30px;
  color: #fff;
}

.high-score__name {
  margin-bottom: 20px;
  color: #fff;
}

.high-score__input {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
}

.submit-button {
  border-radius: 5px;
  border: 1px solid #000;
  padding: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color:#c2c2c2 ;
}

.submit-button_hide {
  display: none;
}

.button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  padding: 10px 20px;
  border: 1px solid #000;
  outline: none;
}

.button:hover {
  background-color:#c2c2c2 ;
}

.paused {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  /* top: 45%;
  left: 44%; */
  width: 200px;
  height: 100px;
  background-color: #222;
  color: #fff;
  z-index: 2;
  border-radius: 15px;
}

.paused.show{
  display: flex;
}